body{
    background-image: url(../imgs/background.jpeg);
    display: flex;
    justify-content: center;
    color: white;
}
/* navbar eleje */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
/* vége */

h1{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    border-radius: 5px;
    margin-top: 70px;
}

.container{
    background-color: #3d3d3dad;
    box-shadow: 10px 10px 10px gray;
    width: 1000px;
    border-radius: 10px;
}
.grid-container { 
    display: grid;
    padding: 10px;
    gap: 20px;
}
.div{
    width: 300px;
    height: auto;
}
