#ar{
    display: flex;
    justify-content: center;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

img{
    border-radius: 30px;
}

.p1{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
}
p{
    display: flex;
    align-items: center;
}

#hr1{
    margin-left: 150px;
}
#hr2{
    margin-left: 175px;
}
#hr3{
    margin-left: 170px;
}

.meret{
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 100px;   
    margin-left: 10px;
}
select{
    margin: 5px;
}

.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.1); 
}