#map{
    display: grid;
    width: 500px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.637);
    border-radius: 5px;
}
.p1{
    display: grid ;
    grid-column-start: 2;
    grid-column-end: 3;
}

.end{
    display: flex grid;
    justify-content: end;
    grid-column-start: 2;
    width: 400px; 
    height: 200px;
}
.yes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

img{
    margin: 12px;
}

a{
    color: white;
}
